.navbar{
    width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    color: white;
    position: relative;
    bottom: 600px;
  
  }
  
  .logo{
      display: flex;
      gap: 0.5rem;
      align-items: center;
  }